@using Vintagerie.Models
@model IEnumerable<Vintagerie.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var Product in Model)
    {
        <li>@Product.ProductName - @Product.User.Name</li>
    }
</ul>