@model Vintagerie.ViewModels.MyProductsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>My products</h2>

<ul>
    @foreach (var product in Model.Product)
    {
        <li>@product.ProductName</li>
        @Html.ActionLink("Edit","EditProduct","Products",new {id = product.Id},null)

    }
</ul>

<h2>My profile</h2>